<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>こんにちは、えくすぷれす。</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js"></script>
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body>
    <h1>ヨーカドーポイント計算（テスト）</h1>
    <table style="width:30%">
        <tr>
            <th>No</th>
            <th>ポイント</th>
        </tr>
        <tr th:each="recepit: ${recepits}">
            <td th:text="${recepit.no}"></td>
            <td th:text="${recepit.point}"></td>
        </tr>
    </table>
</body>
</html>